/* Importação de Fontes */
body {
    font-family: 'Roboto', sans-serif;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* Imagem de Capa */
.header-image img {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Seção do Convite Gerado */
.invitation-section {
    padding: 20px;
}

@media (max-width: 576px) {
    .invitation-section {
        padding: 10px;
    }
}
